{template header}
<div class="container">
    
    <div style="padding-top: 68px;padding-bottom: 38px;">
        <img src="imgs/step.png" width="100%" />
    </div>
    
    <div class="row panel panel-warning">
   	  <div class="panel-heading"><h2>四脚猫高级PHP班招生简章</h2></div>
        <div id="applyDiv" class="panel-body">
        
            <div class="page-header">
                <strong>授课内容</strong>
            </div>
            <p>四脚猫的课程只为高端PHP而设计，涉及了若干知名PHP开发专家参与制定。课程内容包括三个层次， 第一个层次是PHP技术的深度学习：如PHP字符串、数组、文件和PHP的高级特性以及PHP运行原理等； 第二个层次是Web技术的深度拓展：如深入Http协议、Linux技术、Web服务器技术、前端JS技术、MySQL和NoSQL技术等；第三个层次是编程思想和能力的拓展：如数据结构和算法设计、设计模式、好代码的原则和技巧、大规模网站开发技术等。通过三个层次的学习，让我们的学员成为具有深度的PHP开发人员。毕业后，我们的学员不仅仅能快速开发PHP中小型网站，更有能力架构大规模网站如：火车票系统、淘宝网、百度知道、新浪微博等。 </p>            
            <p>课程详见：<a href="course.htm">http://www.sijiaomao.com/course.htm</a></p>
            <div class="page-header">
                <strong>开学时间</strong>
            </div>
            <p>2014年7月12日</p>
            
            <div class="page-header">
                <strong>上课时间</strong>
            </div>
            <p>每周六和周日 早9：00－晚 6：00 ，总时间为 3个半月。 </p>

	     <div class="page-header">
                <strong>授课地点</strong>
            </div>
            <p>地点：北京市海淀区卫生学校教辅楼（地铁8号线永泰庄站 A口出来，向西300米即到）</p>
	     <div class="page-header">
                <strong>招生对象及报名条件</strong>
            </div>
		<p>具有大专及大专以上学历；</p>
		<p>至少具有一年以上实际编程的工作经验；</p>
		<p>目前月薪在5000以上。</p>

	     <div class="page-header">
                <strong>报名流程</strong>
            </div>
		<p>报名：参加培训的学员按照下面的汇款方式缴纳1000元座位预订金（报名费），该座位预订金将从您的学费中扣除。</p>
		<p>报名费确认：将您的汇款情况电话或者网上告知咨询老师（主要包括汇款人姓名、汇款金额、汇出银行、汇入银行、汇款时间等），咨询老师在确认收到汇款后会及时跟您确认座位预订成功。</p>
		<p>报到：所有学员须在开课当天四脚猫报到，报到时须携带身份证原件与学历证明原件及复印件，签订培训协议。</p>
		<p>缴纳学费：所有学员在开课当天按照如下三种方式缴纳学费 ：</p>
		<p>（1）现金缴纳：您可以到我们的培训中心所在地亲自缴纳。</p>
		<p>（2）银行汇款：您可以通过银行汇款的方式缴纳您的学费，参见下面的汇款帐号。</p>
		<p>（3）网银转账：您可以通过网上银行转账的方式缴纳您的学费，参见下面汇款账号。</p>
		<p>开课：为了不影响您的上课，开课之前要求所有学员交齐所有学费。</p>
	
		<div class="page-header">
                <strong>特别提示</strong>
            </div>
		<p>1、学员入学15天内，若对课程不满意，不打算参加学习了，四脚猫全额退还学费；</p>
		<p>2、四脚猫学员毕业后，若找不到万元月薪工作，我们全额退还学费。</p>

		<div class="page-header">
                <strong>报名汇款账号</strong>
            </div>
		<p>户名：杨东</p>
		<p>招商银行 6226 0901 0711 4338  （开户行：北京分行大运村支行）</p>
		<p>工商银行 6222 0202 0002 7204 243（开户行：北京中关村永泰支行）</p>
		<p>建设银行 4367 4200 1175 0183 491 （开户行：北京市海淀区迎春园储蓄所）</p>
		<p>支付宝  yd720@aliyun.com </p>
			
            <div class="page-header">
                <strong>报名联系</strong>
            </div>
            <p>联系人: 杨老师 </p>
            <p>电话：182-0125-1879</p>
            <p>QQ：{QQ_CONTACT_NUMBER} <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin={QQ_CONTACT_NUMBER}&amp;site=qq&amp;menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:{QQ_CONTACT_NUMBER}:42" alt="点击这里给我发消息" ></a></p>
            <p>邮件: yd@sijiaomao.com</p>
            <div class="page-header">
                <strong>乘车路线</strong>
            </div>
            <p>地铁 永泰庄站：地铁8号线永泰庄站 A口出来，向西300米即到。</p>
	    <p>公交  永泰庄站：305、476、490路、专43路，在永泰路站下车即到。</p>
	    <p>公交 清河车站 ：315、328、333、355、379、392、398、419、478、518、607、625、632、670、691、693、753、运通103、运通109路，清河车站下车，走路10分钟即到。</p>
          <p>如果对报名还有疑问，请参考 <a href="http://bbs.sijiaomao.com/read.php?tid=132&fid=2" target="_blank">“报名常见问题”</a></p>
        </div>
    </div>
    {template footer}