{template header}
<a name="about"></a>
<div class="container" style="padding-top: 48px;">
    <div class="page-header">
        <strong>关于我们</strong>
    </div>
    <p>
    四脚猫PHP培训旨在培养高端PHP人才，我们重点在于学习原理，算法，设计模式和大规模构架技术。每一个知识点，我们都要深入理解本质。我们这里的讲师都是奋战在第一线的实战专家。在四脚猫学习PHP，我们不仅仅能学到PHP相关的技能，还能学到项目管理的知识，与人沟通的技巧等更多的隐形本领。从四脚猫毕业后，我们的学员应该能够自由的选择工作，百度、腾讯、360、小米...想去哪里去哪里。凭着过硬的技能+深邃的思想，我们的学员分布在各大知名企业，拿着威武的薪水。我们的愿景是，让四脚猫成为“靠谱程序员”的代名词！
    </p>
    
    <div class="page-header">
        <strong>联系方式</strong>
    </div>
    
    <div class="page-header">
        <a name="contact"></a>
        <p><strong>联系人:</strong> <span class="text-warning">杨老师</span></p>
        <p><strong>电话:</strong> <span class="text-warning">182-0125-1879</span></p>
        <p><strong>QQ:</strong>  <span class="text-warning">{QQ_CONTACT_NUMBER}</span> <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin={QQ_CONTACT_NUMBER}&amp;site=qq&amp;menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:{QQ_CONTACT_NUMBER}:42" alt="点击这里给我发消息" ></a></p>
        <p><strong>四脚猫QQ群:</strong>  <span class="text-warning">{QQ_GROUP_NUMBER}</span>  <a target="_blank" href="http://shang.qq.com/wpa/qunwpa?idkey={QQ_GROUP_IDKEY}"><img border="0" src="http://pub.idqqimg.com/wpa/images/group.png" alt="四脚猫PHP高级群" title="四脚猫PHP高级群"></a></p>
        <p><strong>培训地点：</strong> <span class="text-warning">北京市海淀区卫生学校教辅楼（地铁8号线永泰庄站 A口出来，向西300米即到）</span></p>
        <p><strong>邮件:</strong> <span class="text-warning">yd@sijiaomao.com</span></p>
        <p><strong>微博:</strong> <span class="text-warning"><a href="http://weibo.com/phpinside">http://weibo.com/phpinside</a></span></p>
        <p><strong>微信:</strong> <span class="text-warning">猿来如此</span></p>
        <p><img src="imgs/weixin.jpg" width="200px"/></p>
    </div>
    {template footer}