{template header}
<div class="jumbotron" style="background-color:#fff">
  <div class="container">
    <div class="page-header alert alert-danger">
      数据结构、设计模式、NoSQL、大规模网站开发...样样不能少！
    </div>
    <p class="lead" style="line-height: 24px">
    我们的课程只为高端PHP而设计，涉及了若干知名PHP开发专家参与制定。课程内容包括三个层次，
    第一个层次是PHP技术的深度学习：如PHP字符串、数组、文件和PHP的高级特性以及PHP运行原理等；
    第二个层次是Web技术的深度拓展：如深入Http协议、Linux技术、Web服务器技术、前端JS技术、MySQL和NoSQL技术等；第三个层次是编程思想和能力的拓展：如数据结构和算法设计、设计模式、好代码的原则和技巧、大规模网站开发技术等。通过三个层次的学习，让我们的学员成为具有深度的PHP开发人员。毕业后，我们的学员不仅仅能快速开发PHP中小型网站，更有能力架构大规模网站如：火车票系统、淘宝网、百度知道、新浪微博等。
    </p>
  </div>
  </div><!-- /.jumbotron -->
  <div class="container">
    
    
    <table class="table table-hover table-bordered">
      <thead>
        <tr class="success">
          <th width="20%">科目</th>
          <th width="30%">学习内容</th>
          <th width="40%">学习目标</th>
          <th width="10%">课时</th>
        </tr>
      </thead>
      
      <tbody>
        
        <tr>
          <td>
            <strong>四脚猫导论 </strong>
          </td>
          <td>
            <ol>
              <li>什么是高级技能？</li>
              <li>如何学习？</li>
              <li>学习方式和计划</li>
              <li>常见的代码模式</li>
              <li>好代码是怎么练成的？</li>
            </ol>
          </td>
          <td>总体了解高级技能需要学习的内容，掌握学习的方式和方法，学会常见的代码模式，掌握写好代码的基本原则。
          </td>
          <td>
            8
          </td>
        </tr>
        <tr>
          <td>
            <strong>PHP字符串处理</strong>
          </td>
          <td>
            <ol>
              <li>字符串的表达方式</li>
              <li>字符串的原理</li>
              <li>UTF-8和GBK编码原理</li>
              <li>字符串类型转换</li>
              <li>PHP正则表达式详解</li>
              <li>字符串常见算法和原理</li>
            </ol>
          </td>
          <td>
            字符串是所有编程语言都需要处理的最重要的数据类型，实际工作中我们也是时时刻刻离不开字符串，认真理解字符的本质，理解字符串的编码原理，熟练掌握字符串的操作算法和技巧非常的重要。
          </td>
          <td>
            8
          </td>
        </tr>
        <tr>
          <td>
            <strong>Linux使用
          </td>
          <td>
            <ol>
              <li>Linux的哲学思想</li>
              <li>常用指令和使用技巧</li>
              <li>文件权限和文件操作</li>
              <li>管道和重定向</li>
              <li>crontab和后台任务</li>
              <li>vim编辑器使用</li>
              <li>shell程序设计</li>
            </ol>
          </td>
          <td>
            掌握Linux系统的基本原理，熟练掌握一般情况下软件的安装和配置方法，熟悉常用的操作指令和使用技巧，掌握vim的使用技巧，能编写shell程序完成一些基本的工作 。
          </td>
          <td>
            16
          </td>
        </tr>
        <tr>
          <td>
            <strong>PHP数组使用</strong>
          </td>
          <td>
            <ol>
              <li>PHP数组的本质--哈希表探秘</li>
              <li>遍历数组若干方法</li>
              <li>数组过滤和移除元素的技巧</li>
              <li>数组集合的相关运算</li>
              <li>多维数组和对象数组的排序方法</li>
              <li>数组排序和对比</li>
              <li>数组和数据结构相关算法问题</li>
            </ol>
          </td>
          <td>
            PHP语言的亮点就是功能强大的数组，很多语言如Java、Python、C#都望尘莫及，所以学好用好并精通PHP数组是学好PHP的关键。通过对PHP数组的深入学习，我们熟练掌握数组的常见使用方法，同时对数组相关的常见算法问题逐个学习，做到真正的精通PHP数组。
          </td>
          <td>
            8
          </td>
        </tr>
        <tr>
          <td>
            <strong>PHP选项和运行原理</strong>
          </td>
          <td >
            <ol>
              <li>PHP运行模式</li>
              <li>PHP的Thread Safe和Non Thread Safe</li>
              <li>CGI、FastCGI、 ISAPI、SAPI</li>
              <li>Apache下的work和prefork模式</li>
               <li>Nginx下PHP的FastCGI模式</li>
		<li>比较I/O模型select和epoll</li>
              <li>PHP的运行机制与原理</li>
              <li>PHP的垃圾回收机制</li>
              <li>PHP选项相关的问题</li>
            </ol>
          </td>
          <td >
            安装PHP如何选择合适的版本？到底用什么安装模式？PHP的网站出问题了，怎样才能快速的定位呢？通过对PHP配置和运行原理深入的学习，这些疑问都将迎刃而解。
          </td>
          <td>
            8
          </td>
        </tr>
        <tr>
          <td>
            <strong>JavaScript精髓</strong>
          </td>
          <td >
            <ol>
              <li>深入js数据类型</li>
              <li>深入理解js闭包</li>
              <li>深入理解Js事件驱动</li>
              <li>js对象的prototype属性</li>
              <li>js的解析和运行机制</li>
              <li>Ajax技术和跨域问题</li>
              <li>Jquery和常见技巧</li>
              <li>编写Jquery插件</li>
            </ol>
          </td>
          <td >
            JavaScript是一门相当强大的语言，是Web前端开发的必备利器。通过对事件驱动的原理、Ajax和Jquery等深入的学习后，我们便能熟练的驾驭这个利器。从此以后，我们能够轻松地制作出任何的页面效果。
          </td>
          <td>
            16
          </td>
        </tr>
        <tr>
          <td>
            <strong>PHP高级特性</strong>
          </td>
          <td >
            <ol>
              <li>PHP的Callback函数</li>
              <li>PHP的魔术方法</li>
              <li>自动加载对象的应用</li>
              <li>PHP的反射机制</li>
              <li>PHP的异常处理</li>
              <li>PHP的预定义接口</li>
            </td>
            <td >
              PHP高级特性在流行的PHP框架中应用广泛，深刻理解PHP的这些特性能让我们更好的去理解各种PHP框架，当然，如果我们要编写一个新的PHP框架也离不开PHP的这些特性。
            </td>
            <td>
              8
            </td>
          </tr>
          <tr>
            <td>
              <strong>深入HTTP协议</strong>
            </td>
            <td >
              <ol>
                <li>HTTP协议和W3C组织</li>
                <li>用开发者工具分析HTTP数据包</li>
                <li>HTTP请求行、消息头、实体内容</li>
                <li>HTTP响应状态行、消息头和实体内容</li>
                <li>HTTP响应状态码详解</li>
                <li>HTTP协议的应用和实战</li>
              </ol>
            </td>
            <td >
              你知道浏览器和服务器到底是如何打交道的吗？Cookie到底是什么原理呢？如何模拟用户登录行为呢？如何随心所欲的采集任意网页数据呢？......通过对HTTP协议的深入学习，我们不仅能彻底明白这背后的道理，而且能按照自己的想法去轻松实现它。
            </td>
            <td>
              8
            </td>
          </tr>
          <tr>
            <td>
              <strong>PHP文件操作</strong>
            </td>
            <td >
              <ol>
                <li>文件和文件系统</li>
                <li>文本文件和二进制文件</li>
                <li>文件指针和定位读写</li>
                <li>详解Filesystem系统函数</li>
                <li>PHP大文件上传和断点续传</li>
                <li>基于文件的通讯录实现</li>
                <li>PHP实现文件管理器(含查杀木马)</li>
              </ol>
            </td>
            <td>
              视频、word文档、图片等都是文件，我们编写的PHP源文件也是一个文件。通过对PHP文件操作的深入学习，我们将彻底理解文件的本质，熟练的处理各种和文件相关的操作：大文件上传、文件切割合并、json和xml文件的读写、文件的批量处理和统计、实现自己的文件数据库...
            </td>
            <td>
              12
            </td>
          </tr>
          <tr>
            <td>
              <strong>MySQL高级使用</strong>
            </td>
            <td >
              <ol>
                <li>MySQL体系结构</li>
                <li>MySQL表存储引擎</li>
                <li>PHP的MySQL驱动和API详解</li>
                <li>MySQL索引和全文检索技术</li>
                <li>SQL语句优化和性能调优</li>
                <li>MySQL数据表水平和垂直拆分</li>
                <li>MySQL数据库读写分离技术</li>
                <li>MySQL数据库高可用方案设计</li>
              </ol>
            </td>
            <td >
              PHP天生就和MySQL紧密的结合在一起，用PHP操作MySQL是轻而易举的事情，也正是由于这个方便性，导致很多程序员随意的去连接和执行任意的SQL语句。在数据量较少的情况下，问题并不会呈现，一旦系统数据较多，各种问题随之而来，这个时候再去思考解决性能问题已经晚矣！通过对MySQL的深入学习，我们将掌握如何在数据库设计之初就考虑好性能问题，防患于未然，做一个聪明的程序员！
            </td>
            <td>
              12
            </td>
          </tr>
          <tr>
            <td>
              <strong>PHP数据结构</strong>
            </td>
            <td >
              <ol>
                <li>数据结构基本概念</li>
                <li>算法和算法的时间复杂度</li>
                <li>常见结构：链表、线性表、
                队列和堆栈</li>
                <li>递归和循环的相互转化</li>
                <li>PHP查找和排序算法详解</li>
                <li>分解法和“剥洋葱”法的算法设计技巧</li>
              </ol>
            </td>
            <td >
              数据结构+算法=程序设计，可见数据结构的重要性。要成为优秀的程序员，数据结构和算法是必修的内容。通过对PHP数据结构的学习，我们将对常见的数据结构：链表、线性表、队列和堆栈、树、哈希表等有一个深刻的理解，同时熟练掌握基本的算法：二分查找、散列查找、冒泡排序、选择排序、插入排序...等
            </td>
            <td>
              12
            </td>
          </tr>
          
          <tr>
            <td>
              <strong>NoSQL技术及应用</strong>
            </td>
            <td >
              <ol>
                <li>关系型数据库和NoSQL数据库</li>
                <li>键值存储型数据库Memcache</li>
                <li>支持数据结构特性的Redis</li>
                <li>面向文档的数据库MongoDB</li>
                <li>CAP定理与分布式数据库</li>
                <li>PHP的NoSQL数据库实战</li>
              </ol>
            </td>
            <td >
              NoSQL是一项全新的数据库革命性运动，现在到处都能听到NoSQL，这个词到底是什么意思呢？它到底能给我们带来什么好处呢？如何使用NoSQL呢？是不是以后MySQL就out了呢？通过对NoSQL技术的全面学习，我们会得到满意的答案。
            </td>
            <td>
              12
            </td>
          </tr>
          <tr>
            <td>
              <strong>PHP设计模式</strong>
            </td>
            <td >
              <ol>
                <li>设计模式简介</li>
                <li>工厂模式详解</li>
                <li>策略模式详解</li>
                <li>观察者模式详解</li>
                <li>装饰模式详解</li>
                <li>单例模式详解</li>
                <li>适配器模式详解</li>
                <li>设计模式综合应用</li>
              </ol>
            </td>
            <td>
              设计模式是过去大牛们面对同样的软件设计问题所得到的宝贵经验，有了它，我们的代码变得更优雅，更易用，更易扩展。设计模式犹如程序世界的“葵花宝典”--威力无穷！只有精通设计模式才算是真正的精通面向对象的设计。如果你想进阶到架构师，那么就必须掌握设计模式。目前主流的各种PHP框架中大量采用了各种设计模式，熟悉设计模式对我们使用框架或者设计自己的程序框架尤为重要。
            </td>
            <td>
              16
            </td>
          </tr>
          <tr>
            <td>
              <strong>常见开源系统分析</strong>
            </td>
            <td >
              <ol>
                <li>DiscuzX源码分析</li>
                <li>WordPress源码分析</li>
                <li>HDWiki和Tipask源码分析</li>
                <li>ThinkPHP框架分析和应用</li>
                <li>Yii框架分析和应用</li>
                <li>Laravel框架分析和应用</li>
                <li>自己动手设计MVC框架</li>
              </ol>
            </td>
            <td>
              PHP开发框架有助于促进快速软件开发，不仅仅节约了我们的时间，还减少开发者的重复编写代码的劳动。PHP框架通常会综合运用PHP的高级特性和设计模式，通过对这些程序和框架源码的学习，我们将进一步巩固已经学到的知识，更加深刻的理解MVC模式，同时熟练掌握这些系统和框架对以后工作大有裨益。
            </td>
            <td>
              12
            </td>
          </tr>
          
          <tr>
            <td>
              <strong>大规模网站开发技术</strong>
            </td>
            <td >
              <ol>
                <li>大型网站架构的目标与挑战</li>
                <li>网站技术的演变及其技术脉络</li>
                <li>大型网站程序架构设计</li>
                <li>大型网站网络架构设计</li>
                <li>大型网站的开发和部署</li>
                <li>大型网站故障分析办法</li>
                <li>我来设计火车票系统</li>
              </td>
              <td >
                所谓量变引起质变，一旦网站的规模上去了，为了适应大数据、大访问量、所采用的技术将会有很多的不同。通过对大型网站开发技术的学习，我们将掌握大规模网站的原理，掌握Linux优化、Web服务优化、PHP优化、集群技术、负载均衡技术、高可用技术，并具备一定的大型网站设计能力。
              </td>
              <td>
                12
              </td>
            </tr>
            <tr>
              <td>
                <strong>综合项目实战</strong>
              </td>
              <td >
                <ol>
                  <li>PHP内容管理系统</li>
                  <li>SNS社会化网络系统</li>
                  <li>在线考试系统</li>
                  <li>微信公众平台开发</li>
                  <li>大型电子商务系统开发</li>
                  <li>办公自动化OA系统开发</li>
                </ol>
              </td>
              <td>
                所谓学以致用，在项目实战的过程中，我们将会用到所有掌握的知识，并将之融会贯通。通过综合性项目实战使我们更深刻的体会到“任督二脉被打通”的快感，同时我们将学习到项目管理的知识，包括需求分析、系统设计、数据库设计、代码管理、项目的测试和发布、与人沟通的技巧等。
              </td>
              <td>
                24
              </td>
            </tr>
          </tbody>
        </table>
        {template footer}